@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
    margin-right: 200px;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
  }
  .header-item-link {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Orbitron", sans-serif;
    font-size: 14px;
    line-height: normal;
  }
  .header-acount {
    display: flex;
  }
  .header-acount-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  /* Hero */
  .hero {
    padding: 60px 0 80px;
  }
  .hero-wrapper {
    align-items: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-top: 40px;
  }
  .logo-text {
    font-size: 19px;
  }
  .header-menu {
    margin-right: 262px;
  }
  .header-list {
    gap: 50px;
  }
  .header-item-link {
    font-size: 16px;
  }
  .header-acount-list {
    gap: 35px;
  }

  /* Hero */
  .hero {
    padding: 80px 0 45px;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 106px;
  }
  .hero-title {
    font-family: "Spartan", sans-serif;
    font-size: 54px;
    margin-bottom: 21px;
    max-width: 616px;
  }
  .hero-text {
    font-size: 22px;
    margin-bottom: 43px;
    max-width: 657px;
  }
  .hero-btn-wrapper {
    gap: 37px;
    margin-bottom: 68px;
  }
  .hero-btn {
    gap: 11px;
    width: 249px;
    font-size: 19px;
    padding: 20px 32px 19px 67px;
  }
  .hero-icon {
    width: 51px;
    height: 15px;
  }
  .hero-link {
    font-size: 19px;
  }
  .hero-follow {
    margin-bottom: 0px;
  }
  .hero-follow-list {
    gap: 67px;
  }
  .follow-num {
    font-size: 39px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    margin-bottom: 2.9px;
  }
  .follow-text {
    font-family: "Alethia Next", sans-serif;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0.2px;
  }
  .hero-img-wrapper {
    right: 135px;
  }
  .hero-card {
    left: 195px;
  }
  .card-wrap {
    backdrop-filter: blur(15px);
    width: 336px;
  }
  .hero-icons-wrapper {
    display: block;
  }
  .hero-icons-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-icons-wrapper-mob {
    display: none;
  }
  /* Top_NFT */
  .top-nft {
    padding: 150px 0 150px;
  }
  .top-nft-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 47px;
  }
  .top-nft-title {
    font-size: 22px;
  }
  .top-nft-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    border: none;
    color: var(--white);
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
    cursor: pointer;
  }
  .top-nft-card-wrap {
    padding: 35px 27px 25px 30px;
  }
  .card-title-nft {
    font-size: 23px;
  }
  .user-nickname-nft {
    font-size: 20px;
  }
  .card-price-nft {
    font-size: 14px;
  }
  .price-name-nft {
    font-size: 12px;
  }
  .price-nft {
    font-size: 14px;
  }
  .auction-title-nft {
    font-size: 14px;
  }
  .auction-num-nft {
    font-size: 23px;
  }
  .auction-text-nft {
    font-size: 14px;
  }
  .top-nft-auction-btn {
    padding: 10px 19px 10px 12px;
    font-size: 23px;
    gap: 12px;
    width: 156px;
    white-space: nowrap;
    margin-top: 25px;
  }
  .top-nft-btn-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    padding-top: 53.06px;
  }
  .header-list {
    gap: 66.33px;
  }
  .header-item-link {
    font-size: 19px;
  }
  .header-acount-list {
    gap: 40.9px;
  }

  /* Hero */
  .hero {
    padding: 116px 0 108px;
  }
  .hero-title {
    font-size: 66px;
    max-width: 675px;
  }
  .hero-text {
    font-size: 26px;
    max-width: 657px;
  }

  /* TOP-NFT */
  .top-nft {
    padding: 220px 0 209px;
  }
  .top-nft-title {
    font-size: 26px;
  }
  .top-nft-btn {
    font-size: 26px;
  }
}
