@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  src: url("../Fonts/rajdhani-v16-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rajdhani-v16-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rajdhani-v16-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rajdhani-v16-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v48-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v48-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/orbitron-v35-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v19-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v19-latin-800.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aldrich-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Alethia Next";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AlethiaNext-Light.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/league-spartan-v14-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/museomoderno-v28-latin-regular.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

:root {
  --white: #fff;
}

body {
  background-image: linear-gradient(
      rgba(32, 8, 59, 0.75),
      rgba(32, 8, 59, 0.75)
    ),
    url(/src/Image/BG-de.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1920px;
  backdrop-filter: blur(92.30584716796875px);
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  color: var(--white);
  margin: 0;
}
