.header {
  padding-top: 28.95px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
}

.header-logo-icon {
  fill: #ff56f6;
  box-shadow: 0 4.422px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(106.12408447265625px);
}

.logo-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Orbitron", sans-serif;
  font-size: 16.128px;
  line-height: normal;
}
.logo-frag {
  color: #fff;
}

.header-menu,
.header-acount {
  display: none;
}

.open-mob-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: var(--white);
}

.menu-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #20083b;
  display: none;
}

.close-mob-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
}
.close-mob-menu::before,
.close-mob-menu::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--white);
}

.close-mob-menu::before {
  transform: rotate(45deg);
}

.close-mob-menu::after {
  transform: rotate(-45deg);
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 190px;
}
.mob-menu-item-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Orbitron;
  font-size: 19px;
  line-height: normal;
}
.header-acount-link {
  fill: var(--white);
  stroke: var(--white);
}

/* Hero */
.hero {
  padding: 45px 0 54px;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-family: "Lato", sans-serif;
  font-size: 42px;
  line-height: 1.3;
  margin-bottom: 40px;
}
.hero-frag {
  background: linear-gradient(272deg, #43a5e3 46.06%, #ff56f6 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 40px;
}
.hero-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-bottom: 40px;
}
.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 13px 0 12px;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  color: var(--white);
  fill: var(--white);
  stroke: var(--white);
  background: linear-gradient(
    92deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0 2.359px 57.217px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(56.626731872558594px);
  border: none;
  width: 133px;
  border-radius: 2px;
  clip-path: polygon(20% 0%, 100% 0%, 100% 57%, 83% 100%, 0% 100%, 0% 50%);
  cursor: pointer;
}
.hero-link {
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  line-height: normal;
  background: linear-gradient(90deg, #42a6e3 2.33%, #ff56f6 101.4%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-follow {
  margin-bottom: 41px;
}
.hero-follow-list {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}
.follow-num {
  font-family: "Aldrich", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.118px;
  margin-bottom: 2.9px;
}
.follow-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.118px;
}
.hero-icons-wrapper-mob {
  margin-bottom: 58px;
}
.hero-icons-list-mob {
  display: flex;
  flex-wrap: wrap;
  gap: 41px;
  align-items: center;
}
.hero-icons {
  fill: var(--white);
  stroke: var(--white);
  opacity: 0.5;
}
.hero-img-wrapper {
  position: relative;
}
.hero-monster-img {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 12%);
  border-radius: 5px;
  opacity: 0.8;
}
.hero-card {
  position: absolute;
  top: 323px;
}
.card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.28);
  padding: 25px 16px 11px 17px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 24%);
  border-radius: 8px;
  width: 311px;
}
.card-title {
  font-size: 17px;
  line-height: 2;
  white-space: nowrap;
}
.user {
  display: flex;
  align-items: center;
  gap: 3.2px;
}
.user-nickname {
  font-weight: 600;
  line-height: 2.2;
}
.card-price {
  font-size: 10px;
  font-weight: 600;
  line-height: 3.2;
  opacity: 0.7;
}
.product {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero-logo-icon {
  fill: var(--white);
}
.price-name {
  font-family: "Orbitron", sans-serif;
  font-size: 9px;
  line-height: normal;
  white-space: nowrap;
}
.price {
  font-size: 10px;
  line-height: 3.2;
  opacity: 0.7;
}
.auction-title {
  font-size: 10px;
  font-weight: 600;
  line-height: 3.2;
  opacity: 0.7;
}
.auction-list {
  display: flex;
  gap: 17px;
}
.auction-num {
  font-size: 17px;
  font-weight: 600;
  line-height: 2;
}
.auction-text {
  font-size: 10px;
  font-weight: 500;
  line-height: 3.2;
  opacity: 0.7;
}
.auction-btn {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: var(--white);
  fill: var(--white);
  stroke: var(--white);
  padding: 12px 8px 14px 9px;
  border-radius: 2.132px;
  border: 2.132px solid #ffa6fa;
  background: linear-gradient(
    92deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0 4.263px 103.382px 0 rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(102.3157958984375px);
  cursor: pointer;
  white-space: nowrap;
}
.hero-icons-wrapper {
  display: none;
}

/* Top-NFT */
.top-nft {
  padding: 108px 0;
}
.top-nft-title {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 32px;
}
.top-nft-btn {
  display: none;
}
.top-nft-card-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 24px 26px 14px 18px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) -1.52%,
    rgba(255, 255, 255, 0.02) 104.35%
  );
  backdrop-filter: blur(23px);
  border: 1.7px rgba(255, 255, 255, 0.28) solid;
}
.top-nft-auction-btn {
  display: flex;
  align-items: center;
  gap: 9px;
  fill: var(--white);
  stroke: var(--white);
  color: var(--white);
  font-size: 13px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  line-height: normal;
  padding: 7px 8px 7px 9px;
  border: 1.7px solid #ffa6fa;
  background: linear-gradient(
    92deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0 3.4px 82.454px 0 rgba(255, 86, 246, 0.1);
  margin-top: 18px;
  width: 107px;
  cursor: pointer;
}
.top-nft-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.top-nft-btn-mob {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 13px 0 12px;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  color: var(--white);
  fill: var(--white);
  stroke: var(--white);
  backdrop-filter: blur(56px);
  background-color: transparent;
  width: 133px;
  cursor: pointer;
  border: none;
}
.top-nft-btn-mob::before {
  content: "";
  position: absolute;
  inset: -1px;
  background: linear-gradient(280deg, #3c79d4, #ffa6fa);
  z-index: -1;
  clip-path: polygon(20% 0%, 100% 0%, 100% 57%, 83% 100%, 0% 100%, 0% 50%);
  border-radius: 2px;
}
.top-nft-btn-mob::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: #20083b;
  z-index: -1;
  clip-path: polygon(20% 0%, 100% 0%, 100% 57%, 83% 100%, 0% 100%, 0% 50%);
  border-radius: 2px;
}

/* Collections */
.collections {
  padding-bottom: 111px;
}
.collections-title {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  line-height: normal;
  margin-bottom: 26px;
}
.collections-list {
  display: flex;
  flex-wrap: wrap;
  gap: 17px 17px;
  margin-bottom: 17px;
}
.collections-item {
  width: calc((100% - 17px) / 2);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "Orbitron", sans-serif;
  font-size: 10px;
  line-height: normal;
  border: 1.193px solid #ffa6fa;
  backdrop-filter: blur(57.275272369384766px);
  border-image: linear-gradient(-45deg, #ffa6fa 47%, #3c79d4 97%) 1;
  box-shadow: 0 2.386px 57.872px 0 rgba(255, 86, 246, 0.11);
  padding: 13px;
  transition: all 0.4s ease-in-out;
}
.collections-item:hover,
.collections-item:focus {
  color: var(--white);
  border-radius: 0.9px;
  border: 0.916px solid #ffa6fa;
  background: linear-gradient(
    92deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0 1.832px 44.427px 0 rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(43px);
}
.collections-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-family: "Orbitron", sans-serif;
  font-size: 8px;
  margin-left: auto;
  margin-bottom: 4px;
  fill: var(--white);
  stroke: var(--white);
}
.collections-img {
  margin: 0 auto;
  width: 185px;
  height: 347px;
}

/* Explore */
.explore {
  padding-bottom: 108px;
}
.explore-title-container {
  margin-bottom: 31px;
}
.explore-title {
  font-family: "Orbitron", sans-serif;
  font-size: 18px;
  line-height: normal;
}
.explore-list {
  display: flex;
}
.explore-item {
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) -1.52%,
      rgba(255, 255, 255, 0.02) 104.35%
    ),
    url(/src/Image/explore-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  border: 1.994px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(27.41884994506836px);
}
.explore-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 26px 28px;
}
.explore-user-img {
  margin-bottom: 11px;
}
.explore-card-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}
.explore-nickname-wrapper {
  display: flex;
  align-items: center;
  gap: 1.32px;
  margin-bottom: 17px;
}
.explore-nickname {
  color: #ffb1ee;
  font-size: 13.959px;
  line-height: 2.2;
}
.explore-stat {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}
.stat-num {
  font-size: 21px;
  font-weight: 600;
  line-height: 2;
}
.stat-descrip {
  font-size: 13px;
  font-weight: 500;
  line-height: 3.2;
  opacity: 0.7;
}
.explore-btn {
  color: var(--white);
  font-family: "Rajdhani", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(
    92deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  border: 1.668px solid #ffa6fa;
  box-shadow: 0 3.336px 80.888px 0 rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(80.0539779663086px);
  min-width: 162px;
  height: 35px;
  padding: 7px;
}

/* Sellers */
.sellers {
  padding-bottom: 108px;
}
.sellers-title {
  font-family: "Orbitron", sans-serif;
  font-size: 19px;
  margin-bottom: 16px;
  text-align: center;
}
.sellers-title-frag {
  color: #ff56f6;
}
.sellers-title-icon {
  fill: #ff56f6;
}
.sellers-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 37px;
}
.sellers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.sellers-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 14px 19px 21px;
  border-radius: 20.711px;
  border: 1.998px solid rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(27.478120803833008px);
  width: 316px;
  height: 89px;
}
.item-number {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.3;
}
.sellers-info {
  flex-basis: 40%;
}
.info-name {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.3;
}
.ifo-coins {
  display: flex;
  align-items: center;
  gap: 3px;
}
.ifo-coins-icon {
  fill: #ffffffcc;
}
.info-coins-price {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 3.2;
}
.sellers-percent {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 500;
  padding: 4px 12px;
  width: 72px;
  height: 25px;
  text-align: center;
}
.sellers-list .sellers-item:nth-child(odd) .sellers-percent {
  border-radius: 12.706px;
  border: 0.82px solid rgba(178, 0, 0, 0.72);
  background: linear-gradient(
    180deg,
    rgba(235, 20, 20, 0.15) 0%,
    rgba(235, 20, 20, 0.1) 100%
  );
  color: #f00;
}
.sellers-list .sellers-item:nth-child(even) .sellers-percent {
  color: #0f6;
  border-radius: 12.706px;
  border: 0.82px solid rgba(0, 178, 71, 0.72);
  background: rgba(0, 178, 71, 0.15);
}
.sellers-btn-wrapper {
  display: none;
}

/* What */
.what {
  background-image: linear-gradient(
      rgba(211, 211, 211, 0.1),
      rgba(211, 211, 211, 0.1)
    ),
    url(/src/Image/what-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1920px;
  height: 300px;
  padding-top: 123px;
}
.what-wrapper {
  display: flex;
  flex-direction: column;
  padding: 33px 27px 29px 41px;
  border-radius: 1.676px;
  border: 1.676px solid #616161;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(42.3140983581543px);
  max-width: 335px;
  margin: 0 auto;
}
.what-content-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.what-content-text {
  font-family: "Inter", sans-serif;
  font-size: 11px;
  line-height: 1.7;
  margin-bottom: 25px;
}
.what-content-btn {
  display: flex;
  align-items: center;
  gap: 25px;
}
.content-btn-more {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.content-btn-play {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.play-icon {
  fill: var(--white);
}

/* Subscribe */
.subscribe {
  padding: 206px 0 108px;
}
.subscribe-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 108px;
}
.subscribe-title {
  font-family: "Orbitron", sans-serif;
  font-size: 26px;
  white-space: nowrap;
  margin-bottom: 18px;
}
.subscribe-text {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 32px;
  width: 324px;
}
.subscribe-form {
  display: flex;
  gap: 5px;
  align-items: center;
}
.subscribe-input {
  border-radius: 3.649px 0 0 3.649px;
  background-color: #f4f5f7;
  padding: 7px 10px;
  color: #474a57;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  line-height: 1.7;
  border: none;
  outline: none;
  box-shadow: none;
}
.subscribe-form-btn {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  border-radius: 0 3.649px 3.649px 0;
  border: 1.59px solid #ffa6fa;
  background: linear-gradient(
    92deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0 3.18px 77.117px 0 rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(76.32205200195312px);
  padding: 7px 21px;
}
