.header {
  padding-top: 28.95px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 3.59px;
}

.header-logo-icon {
  fill: #ff56f6;
  box-shadow: 0 4.422px 107.23px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(106.12408447265625px);
}

.logo-text {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Orbitron", sans-serif;
  font-size: 16.128px;
  line-height: normal;
}
.logo-frag {
  color: #fff;
}

.header-menu,
.header-acount {
  display: none;
}

.open-mob-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: var(--white);
}

.menu-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #20083b;
  display: none;
}

.close-mob-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
}
.close-mob-menu::before,
.close-mob-menu::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 24px;
  height: 3px;
  background-color: var(--white);
}

.close-mob-menu::before {
  transform: rotate(45deg);
}

.close-mob-menu::after {
  transform: rotate(-45deg);
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 190px;
}
.mob-menu-item-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Orbitron;
  font-size: 19px;
  line-height: normal;
}
.header-acount-link {
  fill: var(--white);
}
